In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
import nltk

In [5]:
import nltk
nltk.downloader.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\Shiva
[nltk_data]     Chaitanya\AppData\Roaming\nltk_data...

True

In [6]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sentiments = SentimentIntensityAnalyzer()

In [8]:
data = pd.read_csv('hotel_reviews.csv')

In [9]:
sentiments = SentimentIntensityAnalyzer()
data["Positive"] = [sentiments.polarity_scores(i)["pos"] for i in data["Review"]]
data["Negative"] = [sentiments.polarity_scores(i)["neg"] for i in data["Review"]]
data["Neutral"] = [sentiments.polarity_scores(i)["neu"] for i in data["Review"]]
print(data.head())

                                              Review  Rating  Positive  \
0  nice hotel expensive parking got good deal sta...       4     0.285
1  ok nothing special charge diamond member hilto...       2     0.189
2  nice rooms not 4* experience hotel monaco seat...       3     0.219
3  unique, great stay, wonderful time hotel monac...       5     0.385
4  great stay great stay, went seahawk game aweso...       5     0.221

   Negative  Neutral
0     0.072    0.643
1     0.110    0.701
2     0.081    0.700
3     0.060    0.555
4     0.135    0.643

In [10]:
data

,Review,Rating,Positive,Negative,Neutral
0,nice hotel expensive parking got good deal sta...,4,0.285,0.072,0.643
1,ok nothing special charge diamond member hilto...,2,0.189,0.110,0.701
2,nice rooms not 4* experience hotel monaco seat...,3,0.219,0.081,0.700
3,"unique, great stay, wonderful time hotel monac...",5,0.385,0.060,0.555
4,"great stay great stay, went seahawk game aweso...",5,0.221,0.135,0.643
...,...,...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5,0.272,0.063,0.665
20487,great location price view hotel great quick pl...,4,0.430,0.000,0.570
20488,"ok just looks nice modern outside, desk staff ...",2,0.145,0.131,0.724
20489,hotel theft ruined vacation hotel opened sept ...,1,0.179,0.150,0.671
20490,"people talking, ca n't believe excellent ratin...",2,0.140,0.193,0.668

In [11]:
x = sum(data["Positive"])
y = sum(data["Negative"])
z = sum(data["Neutral"])

def sentiment_score(a, b, c):
    if (a>b) and (a>c):
        print("Positive ðŸ˜Š ")
    elif (b>a) and (b>c):
        print("Negative ðŸ˜  ")
    else:
        print("Neutral ðŸ™‚ ")
sentiment_score(x, y, z)

Neutral ðŸ™‚

In [12]:
print("Positive: ", x)
print("Negative: ", y)
print("Neutral: ", z)

Positive:  6359.91000000002
Negative:  1473.4750000000038
Neutral:  12657.627999999937